/* Write your CSS code here. */
.main_bg {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub_bg {
  height: 50vh;
  width: 50vw;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
}

.Size_img {
  height: 50px;
  width: 50px;
}
.lis {
  list-style-type: none;
  margin: 50px;
}
.emoji_cont {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: transparent;
  border-width: 0px;
}
